td.nav {vertical-align:top}
td.nav a:hover {color:#CCCCCC;background-color:#333333}
td.main {padding:10px}
td.pic{vertical-align:bottom}
td.pic a:hover {color:#CCCCCC;background-color:#333333}
body{color:#000000;background-color:#C0C0C0}
